.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container h1 {
  margin-bottom: 0.5rem;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.moment {
  width: 32%;
  margin-bottom: 1rem;
  text-align: center;
}

.moment img {
  width: 100%;
  margin-bottom: 1rem;
  transition: 0.5s;
  opacity: 0.86;
}

.moment img:hover {
  filter: blur(1);
  opacity: 1;
}

.moment h3,
.moment p {
  margin-bottom: 1rem;
}

.moment .date {
  font-size: 1.3rem;
  font-style: italic;
}

.none{
  color: #dec129;
  padding: 0.3rem 0.6rem;
}

.moment .none:hover {
  color: #dec129;
  background-color: rgb(50, 51, 48);
  padding: 0.8rem;
}

.none:hover{
   background-color: transparent;
}


.search-container {
  margin-bottom: 2rem;
  width: 100%;
  font-size: 5rem;
}

.search-container form {
  width: 30%;
  position: relative;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-container input {
  padding: 0.5rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h2 {
  margin: 2rem 0;
}

.noMoments {
  font-size: 2rem;
  color: red;
}
