<div class="home-container">
  <h2>Veja Abaixo os momentos compartilhados</h2>
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Busque por um momento" (input)="search($event)">
    </form>
  </div>
  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <a routerLink="moments/{{ moment.id }}"><img src="{{ baseApiUrl }}uploads/{{ moment.image }}" alt="moment.title"></a>
        <h2> {{ moment.title }}</h2>
        <p class="date">Criado Em: {{ moment.created_at }}</p>
        <p>Comentarios: {{moment.comments!.length}}</p>
        <p><a class="none" routerLink="moments/{{ moment.id }}">Detalhes</a></p>
      </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h1 class="noMoments">Nao ha momentos compartilhados</h1>
  </ng-template>
</div>
